#tutorial-navigator * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#tutorial-navigator *:before,
#tutorial-navigator *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#tutorial-navigator .row:before,
#tutorial-navigator .row:after {
  display: table;
  content: " ";
}
#tutorial-navigator h1,
#tutorial-navigator h2,
#tutorial-navigator h3,
#tutorial-navigator h4,
#tutorial-navigator h5,
#tutorial-navigator h6,
#tutorial-navigator .h1,
#tutorial-navigator .h2,
#tutorial-navigator .h3,
#tutorial-navigator .h4,
#tutorial-navigator .h5,
#tutorial-navigator .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
#tutorial-navigator h1 small,
#tutorial-navigator h2 small,
#tutorial-navigator h3 small,
#tutorial-navigator h4 small,
#tutorial-navigator h5 small,
#tutorial-navigator h6 small,
#tutorial-navigator .h1 small,
#tutorial-navigator .h2 small,
#tutorial-navigator .h3 small,
#tutorial-navigator .h4 small,
#tutorial-navigator .h5 small,
#tutorial-navigator .h6 small,
#tutorial-navigator h1 .small,
#tutorial-navigator h2 .small,
#tutorial-navigator h3 .small,
#tutorial-navigator h4 .small,
#tutorial-navigator h5 .small,
#tutorial-navigator h6 .small,
#tutorial-navigator .h1 .small,
#tutorial-navigator .h2 .small,
#tutorial-navigator .h3 .small,
#tutorial-navigator .h4 .small,
#tutorial-navigator .h5 .small,
#tutorial-navigator .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999;
}
#tutorial-navigator h1,
#tutorial-navigator .h1,
#tutorial-navigator h2,
#tutorial-navigator .h2,
#tutorial-navigator h3,
#tutorial-navigator .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#tutorial-navigator h1 small,
#tutorial-navigator .h1 small,
#tutorial-navigator h2 small,
#tutorial-navigator .h2 small,
#tutorial-navigator h3 small,
#tutorial-navigator .h3 small,
#tutorial-navigator h1 .small,
#tutorial-navigator .h1 .small,
#tutorial-navigator h2 .small,
#tutorial-navigator .h2 .small,
#tutorial-navigator h3 .small,
#tutorial-navigator .h3 .small {
  font-size: 65%;
}
#tutorial-navigator h4,
#tutorial-navigator .h4,
#tutorial-navigator h5,
#tutorial-navigator .h5,
#tutorial-navigator h6,
#tutorial-navigator .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#tutorial-navigator h4 small,
#tutorial-navigator .h4 small,
#tutorial-navigator h5 small,
#tutorial-navigator .h5 small,
#tutorial-navigator h6 small,
#tutorial-navigator .h6 small,
#tutorial-navigator h4 .small,
#tutorial-navigator .h4 .small,
#tutorial-navigator h5 .small,
#tutorial-navigator .h5 .small,
#tutorial-navigator h6 .small,
#tutorial-navigator .h6 .small {
  font-size: 75%;
}
#tutorial-navigator h1,
#tutorial-navigator .h1 {
  font-size: 36px;
}
#tutorial-navigator h2,
#tutorial-navigator .h2 {
  font-size: 30px;
}
#tutorial-navigator h3,
#tutorial-navigator .h3 {
  font-size: 24px;
}
#tutorial-navigator h4,
#tutorial-navigator .h4 {
  font-size: 18px;
}
#tutorial-navigator h5,
#tutorial-navigator .h5 {
  font-size: 14px;
}
#tutorial-navigator h6,
#tutorial-navigator .h6 {
  font-size: 12px;
}
#tutorial-navigator p {
  margin: 0 0 10px;
}
#tutorial-navigator .row:after {
  clear: both;
}
#tutorial-navigator .col-xs-1,
#tutorial-navigator .col-sm-1,
#tutorial-navigator .col-md-1,
#tutorial-navigator .col-lg-1,
#tutorial-navigator .col-xs-2,
#tutorial-navigator .col-sm-2,
#tutorial-navigator .col-md-2,
#tutorial-navigator .col-lg-2,
#tutorial-navigator .col-xs-3,
#tutorial-navigator .col-sm-3,
#tutorial-navigator .col-md-3,
#tutorial-navigator .col-lg-3,
#tutorial-navigator .col-xs-4,
#tutorial-navigator .col-sm-4,
#tutorial-navigator .col-md-4,
#tutorial-navigator .col-lg-4,
#tutorial-navigator .col-xs-5,
#tutorial-navigator .col-sm-5,
#tutorial-navigator .col-md-5,
#tutorial-navigator .col-lg-5,
#tutorial-navigator .col-xs-6,
#tutorial-navigator .col-sm-6,
#tutorial-navigator .col-md-6,
#tutorial-navigator .col-lg-6,
#tutorial-navigator .col-xs-7,
#tutorial-navigator .col-sm-7,
#tutorial-navigator .col-md-7,
#tutorial-navigator .col-lg-7,
#tutorial-navigator .col-xs-8,
#tutorial-navigator .col-sm-8,
#tutorial-navigator .col-md-8,
#tutorial-navigator .col-lg-8,
#tutorial-navigator .col-xs-9,
#tutorial-navigator .col-sm-9,
#tutorial-navigator .col-md-9,
#tutorial-navigator .col-lg-9,
#tutorial-navigator .col-xs-10,
#tutorial-navigator .col-sm-10,
#tutorial-navigator .col-md-10,
#tutorial-navigator .col-lg-10,
#tutorial-navigator .col-xs-11,
#tutorial-navigator .col-sm-11,
#tutorial-navigator .col-md-11,
#tutorial-navigator .col-lg-11,
#tutorial-navigator .col-xs-12,
#tutorial-navigator .col-sm-12,
#tutorial-navigator .col-md-12,
#tutorial-navigator .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#tutorial-navigator .col-xs-1,
#tutorial-navigator .col-xs-2,
#tutorial-navigator .col-xs-3,
#tutorial-navigator .col-xs-4,
#tutorial-navigator .col-xs-5,
#tutorial-navigator .col-xs-6,
#tutorial-navigator .col-xs-7,
#tutorial-navigator .col-xs-8,
#tutorial-navigator .col-xs-9,
#tutorial-navigator .col-xs-10,
#tutorial-navigator .col-xs-11,
#tutorial-navigator .col-xs-12 {
  float: left;
}
#tutorial-navigator .col-xs-12 {
  width: 100%;
}
#tutorial-navigator .col-xs-11 {
  width: 91.66666667%;
}
#tutorial-navigator .col-xs-10 {
  width: 83.33333333%;
}
#tutorial-navigator .col-xs-9 {
  width: 75%;
}
#tutorial-navigator .col-xs-8 {
  width: 66.66666667%;
}
#tutorial-navigator .col-xs-7 {
  width: 58.33333333%;
}
#tutorial-navigator .col-xs-6 {
  width: 50%;
}
#tutorial-navigator .col-xs-5 {
  width: 41.66666667%;
}
#tutorial-navigator .col-xs-4 {
  width: 33.33333333%;
}
#tutorial-navigator .col-xs-3 {
  width: 25%;
}
#tutorial-navigator .col-xs-2 {
  width: 16.66666667%;
}
#tutorial-navigator .col-xs-1 {
  width: 8.33333333%;
}
#tutorial-navigator .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#tutorial-navigator .btn:hover,
#tutorial-navigator .btn:focus {
  color: #333;
  text-decoration: none;
}
#tutorial-navigator .btn-xs,
#tutorial-navigator .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
#tutorial-navigator {
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  color: #4d4d4d;
}
#tutorial-navigator .hidden {
  display: none !important;
  visibility: hidden !important;
}
#tutorial-navigator .visible {
  visibility: visible !important;
}
#tutorial-navigator .row {
  margin: 0;
}
#tutorial-navigator .btn,
#tutorial-navigator a.btn {
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  border: 0;
  font-weight: bold;
}
#tutorial-navigator .app-type-item .btn {
  border: 1px solid #d0d2d3;
}
#tutorial-navigator a {
  cursor: pointer;
  text-decoration: none;
  color: #0a86b1;
}
#tutorial-navigator a:focus {
  outline: 0;
}
#tutorial-navigator a:hover {
  text-decoration: none;
  color: #44c7f4;
}
#tutorial-navigator h1,
#tutorial-navigator h2,
#tutorial-navigator h3 {
  font-weight: 100;
}
#tutorial-navigator h4,
#tutorial-navigator h5,
#tutorial-navigator h6 {
  font-weight: bold;
}
#tutorial-navigator h1,
#tutorial-navigator h2,
#tutorial-navigator h3,
#tutorial-navigator h4,
#tutorial-navigator h5,
#tutorial-navigator h6 {
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  color: #000;
}
#tutorial-navigator h1 a,
#tutorial-navigator h2 a,
#tutorial-navigator h3 a,
#tutorial-navigator h4 a,
#tutorial-navigator h5 a,
#tutorial-navigator h6 a {
  color: #000;
}
#tutorial-navigator .tutorial-header {
  border-bottom: 1px solid #ddd;
  padding: 40px 0 20px 0;
  display: table;
  width: 100%;
}
#tutorial-navigator .tutorial-header .step-circle {
  text-align: center;
}
#tutorial-navigator .tutorial-header .step-circle a {
  background: #ddd;
  border: 1px solid #ddd;
  border-radius: 100%;
  padding: 15px 0;
  text-align: center;
  height: 60px;
  width: 60px;
  display: inline-block;
  line-height: 30px;
  color: #fff;
  font-size: 25px;
}
#tutorial-navigator .tutorial-header .step-circle span.step-label {
  display: block;
  padding: 15px 0px 0px 0px;
  font-size: 20px;
  color: #ddd;
  margin-bottom: 5px;
}
#tutorial-navigator .tutorial-header .step-circle small {
  display: block;
  line-height: 12px;
  height: 12px;
  font-size: 12px;
}
#tutorial-navigator .tutorial-header .step-circle.active a {
  background: #fff;
  color: #4fcb1f;
  border-color: #4fcb1f;
}
#tutorial-navigator .tutorial-header .step-circle.active span.step-label {
  color: #000;
}
#tutorial-navigator .step .app-type {
  cursor: pointer;
  text-align: center;
}
#tutorial-navigator .step .app-type .app-type-item {
  display: block;
  border-radius: 3px;
  font-size: 13px;
}
#tutorial-navigator .step .app-type .app-type-item small {
  color: #7e7e80;
  font-weight: bold;
  margin-top: 6px;
}
#tutorial-navigator .step .app-type .app-type-item span.icon {
  font-size: 2em;
  background-color: #448cf4;
  background-position: initial;
  border-radius: 3px;
  width: 70px;
  height: 70px;
  color: #fff;
  margin: auto;
  line-height: 80px;
}
#tutorial-navigator .step .app-type .app-type-item strong.label {
  text-transform: capitalize;
  font-size: 1.3em;
  margin: 20px 0 10px 0;
  font-weight: 300;
  color: #000;
  background: none;
  padding: 0;
}
#tutorial-navigator .step .app-type .btn-select.btn-xs {
  font-size: 11px;
  padding-left: 15px;
  padding-right: 15px;
  color: #333;
  margin-top: 20px;
  background: #fff;
}
#tutorial-navigator .step .app-type:hover .app-type-item {
  background: #fff;
}
#tutorial-navigator .step .app-type:nth-child(2n) .app-type-item span.icon {
  background-color: #ffdb47;
}
#tutorial-navigator .step .app-type:nth-child(3n) .app-type-item span.icon {
  background-color: #a83dda;
}
#tutorial-navigator .step .app-type:nth-child(4n) .app-type-item span.icon {
  background-color: #ff4847;
}
#tutorial-navigator .step .tutorial-item {
  display: inline-block;
  float: none;
  margin-bottom: 20px;
  vertical-align: top;
  padding: 0px 5px;
}
#tutorial-navigator .step .tutorial-item a.logo-tutorial {
  border: 1px solid #f1f1f1;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  display: block;
  padding: 10px;
}
#tutorial-navigator .step .tutorial-item a.logo-tutorial span {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-top: 6px;
  font-size: 11px;
  letter-spacing: 1px;
  color: #333;
}
#tutorial-navigator .step .tutorial-item a.logo-tutorial strong {
  background-color: #fff;
  display: block;
  padding: 10px 0;
  border-radius: 3px;
}
#tutorial-navigator .step .tutorial-item a.logo-tutorial strong img {
  height: 45px;
  max-width: 100%;
}
#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial {
  border-color: #44c7f4;
  background-color: none;
  color: #0a86b1;
}
#tutorial-navigator .step .tutorial-item span {
  min-height: 30px;
  margin-top: 10px;
}
#tutorial-navigator .step.disabled {
  position: relative;
  opacity: 0.15;
}
#tutorial-navigator .step.disabled .disabled-cover {
  position: absolute;
  background: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#tutorial-navigator .code-snippets {
  min-height: 400px;
  padding-left: 60px;
  padding-right: 60px;
}
#tutorial-navigator .code-snippets .snippet-tabs {
  width: 100%;
  display: table;
  border-bottom: 1px solid #16214d;
  margin-bottom: 30px;
}
#tutorial-navigator .code-snippets .snippet-tabs .snippet-tab {
  display: inline-block;
}
#tutorial-navigator .code-snippets .snippet-tabs .snippet-tab a {
  display: inline-block;
  background: #f1f1f1;
  padding: 10px;
  height: auto;
  min-width: 110px;
  text-align: center;
  color: #aaa;
}
#tutorial-navigator .code-snippets .snippet-tabs .snippet-tab a.active {
  background: #16214d;
  color: #fff;
}
#tutorial-navigator *,
#tutorial-navigator :before,
#tutorial-navigator :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#tutorial-navigator .step,
#tutorial-navigator .code-snippets {
  padding: 15px;
  border-radius: 3px;
}
#tutorial-navigator .step > h3,
#tutorial-navigator .code-snippets > h3 {
  margin-top: 0px;
}
#tutorial-navigator .step > h3,
#tutorial-navigator .step > h4,
#tutorial-navigator .step > p {
  padding-left: 5px;
}
#tutorial-navigator .step .app-type .app-type-item span,
#tutorial-navigator .step .app-type .app-type-item small,
#tutorial-navigator .step .app-type .app-type-item strong {
  display: block;
  width: 100%;
  text-align: center;
}
#tutorial-navigator .step .app-type .app-type-item span,
#tutorial-navigator .step .app-type .app-type-item strong {
  color: #666;
}
#tutorial-navigator .step .app-type:hover .app-type-item span.icon {
  color: #fff;
}
#tutorial-navigator .step .app-type:hover .app-type-item strong,
#tutorial-navigator .step .app-type:hover .app-type-item span {
  color: #000;
}
#tutorial-navigator .step .app-type:hover .app-type-item .btn {
  background: #d0d2d3;
  border-color: #d0d2d3;
}
#tutorial-navigator .step .tutorial-item,
#tutorial-navigator .step .tutorial-item a.logo-tutorial,
#tutorial-navigator .step .tutorial-item a.logo-tutorial strong {
  background: none;
  border-radius: 3px;
}
#tutorial-navigator .step .tutorial-item:hover,
#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial,
#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial strong,
#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial span {
  background: #fff;
  color: #0a86b1;
}
