// Now begins tutorial navigator styles
#tutorial-navigator
  border 1px solid #ddd
  border-radius 3px
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  color: #4d4d4d;
  .hidden
    display none!important
    visibility hidden!important
  .visible
    visibility visible!important
  .row
    margin 0
  .btn, a.btn
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    text-transform: uppercase
    font-size: 16px;
    letter-spacing: 2px;
    border: 0;
    font-weight: bold
  .app-type-item .btn
    border: 1px solid #d0d2d3;
  a
    cursor pointer
    text-decoration none
    color: darken(#44c7f4, 40%);
    &:focus
      outline: 0;
    &:hover
      text-decoration: none
      color: #44c7f4
  h1,h2,h3
    font-weight: 100;
  h4,h5,h6
    font-weight: bold

  h1,h2,h3,h4,h5,h6
    font-family: "proxima-nova", "Helvetica Neue", sans-serif;
    color: black;
    a
      color: black;
  .tutorial-header
    border-bottom 1px solid #ddd
    padding 40px 0 20px 0
    display table
    width 100%
    .step-circle
      text-align center
      a
        background #ddd
        border 1px solid #ddd
        border-radius 100%
        padding 15px 0
        text-align: center;
        height 60px
        width 60px
        display inline-block
        line-height 30px
        color #fff
        font-size 25px
      span
        &.step-label
          display block
          padding 15px 0px 0px 0px
          font-size 20px
          color #ddd
          margin-bottom 5px
      small
        display block
        line-height 12px
        height 12px
        font-size 12px
      &.active
        a
          background white
          color #4fcb1f
          border-color #4fcb1f
        span
          &.step-label
            color #000
  .step
    .app-type
      cursor pointer
      text-align: center;
      .app-type-item
        display block
        border-radius 3px
        font-size: 13px;
        small
          color #7E7E80
          font-weight bold
          margin-top: 6px;
        span
          &.icon
            font-size 2em
            background-color: #448cf4
            background-position: initial;
            border-radius 3px
            width 70px
            height 70px
            color white
            margin auto
            line-height 80px

        strong
          &.label
            text-transform capitalize
            font-size 1.3em
            margin 20px 0 10px 0
            font-weight 400
            color black
            background none
            padding: 0;
            

      .btn-select.btn-xs
        font-size: 11px;
        padding-left: 15px;
        padding-right: 15px;
        color: #333;
        margin-top: 20px;
        background: white;

      &:hover
        .app-type-item
          background #fff


    .app-type:nth-child(2n)
      .app-type-item
        span.icon
          background-color: #ffdb47;


    .app-type:nth-child(3n)
      .app-type-item
        span.icon
          background-color: #a83dda;

    .app-type:nth-child(4n)
      .app-type-item
        span.icon
          background-color: #ff4847;


    .tutorial-item
      display inline-block
      float none
      margin-bottom 20px
      vertical-align top
      padding 0px 5px
      a
        &.logo-tutorial
          border 1px solid #f1f1f1
          padding 10px
          text-align center
          border-radius 4px
          display block
          padding 10px
          span
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            margin-top: 6px;
            font-size: 11px;
            letter-spacing: 1px;
            color: #333;
          strong
            background-color #fff
            display block
            padding 10px 0
            border-radius 3px
            img
              height 45px
              max-width 100%
      &:hover
        a
          &.logo-tutorial
            border-color #44C7F4
            background-color none
            color darken(#44C7F4, 40%)

      span
        min-height 30px
        margin-top 10px
    &.disabled
      position relative
      opacity .15
      .disabled-cover
        position absolute
        background none
        top 0
        right 0
        bottom 0
        left 0
  .code-snippets
    min-height 400px
    padding-left 60px
    padding-right 60px
    .snippet-tabs
      width 100%
      display table
      margin-bottom 30px
      font-size: 20px;
      text-align: center;
      background: #f6f6f6
      border-radius: 3px;
      .snippet-tab
        display inline-block
        a
          display inline-block
          color #666
          padding 20px 50px 0 50px;
          margin: 0 20px;
          height auto
          min-width 110px
          text-align center
          background: 
          i 
            display: block;
            margin-top: 10px;
            
          &.active
            color #fff
            background: #44C7F4

#tutorial-navigator *,
#tutorial-navigator :before,
#tutorial-navigator :after
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

#tutorial-navigator .step,
#tutorial-navigator .code-snippets
  padding 15px 20px;
  border-radius 3px

#tutorial-navigator .step > h3,
#tutorial-navigator .code-snippets > h3
  margin-top 0px

#tutorial-navigator .step > h3,
#tutorial-navigator .step > h4,
#tutorial-navigator .step > p
  padding-left 5px

#tutorial-navigator .step .app-type .app-type-item span,
#tutorial-navigator .step .app-type .app-type-item small,
#tutorial-navigator .step .app-type .app-type-item strong
  display block
  width 100%
  text-align center

#tutorial-navigator .step .app-type .app-type-item span,
#tutorial-navigator .step .app-type .app-type-item strong
  color #666

#tutorial-navigator .step .app-type:hover
  .app-type-item
    span.icon
      color: white

    strong, span
      color black

    .btn
      background: #D0D2D3;
      border-color #D0D2D3;


#tutorial-navigator .step .tutorial-item,
#tutorial-navigator .step .tutorial-item a.logo-tutorial,
#tutorial-navigator .step .tutorial-item a.logo-tutorial strong
  background none
  border-radius 3px

#tutorial-navigator .step .tutorial-item:hover,
#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial,
#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial strong,
#tutorial-navigator .step .tutorial-item:hover a.logo-tutorial span
  background #fff
  color darken(#44C7F4, 40%)


#tutorial-navigator
  h1,h2,h3,h4,h5
    font-weight: 500;
    
  img 
    max-width: 100%;
    
  blockquote 
    p 
      margin-top: 0;
    
  .package 
    blockquote
      text-align: center;
      border: 0 
      background: lighten(#44C7F4, 90%)